.sidebar-menu {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: @grid-float-breakpoint) {
  .content-wrapper {
    margin-left: 250px;
    padding-right: 20px;
  }
}

.box-body {
  clear: both;
}

div.dataTables_filter input {
  margin-left: 0;
}
