.main-header {
  .logo {
    background-color: @brand-primary;
    color: white;
    text-decoration: none;
  }
}

.main-sidebar {
  background-color: @brand-primary;
}

.sidebar-menu {
  a {
    color: white;
    text-decoration: none;
  }

  .active {
    a {
      background-color: darken(@brand-primary, 10%);
      text-decoration: none;
    }
  }
}
