.admin.navbar-default {
  background-color: @brand-primary;
  border-color: @brand-primary;
}

.admin {
  .navbar-brand {
    color: white;
    &:hover {
      color: darken(white, 10%);
    }
  }
}

.admin.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
