@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Community Technology Alliance<br />
    1671 The Alameda, Suite 300,<br />
    San Jose, CA 95126<br />
    <abbr title="Phone">Phone:</abbr>
    408-437-8800
</address>

