<template name="userRoleManager">
  {{#each user in getUsers}}
    {{> roleManagerUserItem user=user }}
  {{/each}}
</template>

<template name="roleManagerUserItem">
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">{{getUserName user}}</h4>
            <h5 class="card-subtitle text-muted">{{getUserEmail user}}</h5>
            <div class="card-text">
              <ul>
                {{#each userRole in getUserRoles user }}
                  {{> userRoleItem user=user role=userRole}}
                {{/each}}
                {{#if availableRolesExist user}}
                  <li>
                    <select class="roles-list">
                      {{#each roleName in getAvailableRoles user}}
                        <option value={{roleName}}>{{roleName}}</option>
                      {{/each}}
                    </select>
                    <button class="btn btn-sm btn-primary add-role">Add</button>
                  </li>
                {{/if}}
              </ul>
            </div>
          </div>
        </div>
      </div>
</template>

<template name="userRoleItem">
  <li>{{this.role}} <a class="remove-role">&times;</a></li>
</template>