.survey-debug {
  table {
    min-width: 50%;
    td {
      padding: 3px;
      border: 1px solid gray;
    }
  }
}

.section {
  border: 1px dotted black;
  padding: 16px;
  h1, h2, h3, h4, h5, h6 {
    margin-top: 8px;
  }
}
