.survey {
  .error-message {
    color: red;
    font-weight: bold;
  }
}

.survey-debug {
  margin-top: 30px;
  table {
    min-width: 50%;
    td {
      padding: 3px;
      border: 1px solid gray;
    }
  }
}

label {
  font-weight: normal;
}

.item {
  margin-top: 4px;
  margin-left: 0px;
}


.section {
  padding-bottom: 16px;
  h1, h2, h3, h4, h5, h6 {
    margin-top: 8px;
  }
  h1.title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  h2.title {
    font-size: 18px;
    font-weight: bold;
    color: #d41f26;
  }
  .title {
    font-size: 14px;
  }
}

.question {
  .title {
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 4px;
  }
  input {
    &[type="text"], &[type="number"] {
      min-width: 200px;
      width: 50%;
    }
  }
  textarea {
    min-width: 200px;
    width: 50%;
  }
}

.question.disabled {
  display: none;
}

.question.error {
  input {
    border: 1px solid red;
  }
}

.readonly {
  min-width: 200px;
  width: 50%;
  background: #ddd;
  padding: 2px 4px;
}

.grid {
  table {
    width: 100%;
  }
  thead td {
    font-size: 14px;
  }
  input {
    width: 100%;
  }
}

.score {
  display: flex;
  background: #d41f26;
  color: white;
  font-weight: bold;
  margin-bottom: 25px;

  .text {
    margin: 8px;
    order: 0;
    flex-grow: 1
  }

  .wrapper {
    margin: 8px;
    order: 1;
    text-align: center;
    background: #d41f26;
    word-break: keep-all;
    min-width: 60px;
    .text {
      margin: 0;
    }
    .value {
      background: white;
      color: black;
      padding: 4px;
    }
  }
}

.question {
  font-size: 12px;
}

.survey-creator {
  textarea[name="definition"] {
    width: 100%;
    font-family: "Courier New", Courier, monospace;
  }
}
