.survey-builder-wrapper {
  .survey-builder {
    display: flex;
    min-height: 800px;
    height: 100%;

    .tree-view {
      flex-grow: 1;
      background: white;
    }
    .item-inspector {
      flex-grow: 1;
      background: yellow;
    }
  }
}

