<template name="createClient">
    <!--<div id="content">-->
        <!--{{> appNav}}-->
        <!--<div class="container">-->
            <!--<h3 class="page-header">Create Profile</h3>-->
            <div class="row">
				<!-- edit form column -->
                <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                    <form id="create-client-form" class="form-horizontal" role="form">

	                    {{> clientForm}}

                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-8">
                                <input class="btn btn-primary save" value="Submit" type="button">
                                <input class="btn btn-default" value="Cancel" type="reset">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        <!--</div>-->

		<!--{{> footer}}-->

    <!--</div>-->

    {{> preliminarySurvey}}

</template>

<template name="preliminarySurvey">
  <div class="modal fade modal-fullscreen" id="preliminarySurveyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title text-center">Preliminary Survey</h1>
        </div>
        <div class="modal-body content">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 my-center-block">
              {{#unless skipDvQuestion}}
                {{{dvQuestion}}}
                {{{hotlineInfo}}}
              {{/unless}}
              {{#unless skipHousingServiceQuestion}}
                {{{housingServiceQuestion}}}
              {{/unless}}
            </div>
          </div>
          <div class="row margin-top-35">
            <div class="col-xs-7 col-md-6 col-lg-4 my-center-block">
              {{#if skipHousingServiceQuestion}}
                  <button type="button" class="btn btn-lg btn-block btn-primary js-open-release-of-info-modal js-close-preliminary-survey-modal">Continue</button>
              {{else}}
                <div class="row">
                  <div class="col-xs-6">
                    <button type="button" class="btn btn-lg btn-block js-open-release-of-info-modal js-close-preliminary-survey-modal btn-success">Yes</button>
                  </div>
                  <div class="col-xs-6">
                    <button type="button" class="btn btn-lg btn-block js-goto-dashboard js-close-preliminary-survey-modal btn-danger">No</button>
                  </div>
                </div>
              {{/if}}
            </div>
          </div>
        </div>
        <div class="modal-footer"></div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade modal-fullscreen" id="releaseOfInformationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="release-of-information">
          <div class="modal-header">
            <h1 class="modal-title text-center">Release of Information</h1>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6 my-center-block">
                {{{releaseOfInformation}}}
                <div>
                  <label>
                    <input type="checkbox" required />
                    <span>I Agree</span>
                  </label>
                </div>
                {{> signaturePad}}
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="row">
              <div class="col-xs-7 col-md-6 col-lg-4 my-center-block">
                <input type="submit" value="Submit" class="btn btn-lg btn-block btn-primary" />
              </div>
            </div>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>

<template name="signaturePad">
  <div id="signature-pad" class="m-signature-pad">
    <div class="m-signature-pad--body">
      <canvas></canvas>
    </div>
  </div>
  <div class="sign-above-description">Sign above</div>
  <a href="#" class="btn btn-xs btn-default js-sign-clear">Clear</a>
</template>
