<template name="changePasswordForm">
  <div class="form-group">
    <label class="col-lg-4 control-label">Current Password:</label>
    <div class="col-lg-8">
      <input class="form-control current-password" type="password" required/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-4 control-label">New Password:</label>
    <div class="col-lg-8">
      <input class="form-control new-password" type="password" required/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-4 control-label">Confirm New Password:</label>
    <div class="col-lg-8">
      <input class="form-control confirm-new-password" type="password" required/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label"></label>
    <div class="col-md-8">
      <input type="submit" class="btn btn-large btn-success" value="Change password" />
    </div>
  </div>
</template>
