<template name="AdminDashboardusersEdit">

  {{> adminAlert}}
  {{{showUpdatedMessage}}}

  <div class="box box-default">
    <div class="box-body">

      <h4>User Roles</h4>
      <img class="home-spinner hide" alt="spinner" src="/imgs/spinner.gif" />
      {{#each getUserRoles admin_current_id}}
        <button class="btn btn-primary btn-xs {{#if isInRole 'Developer,System Admin' }}btn-remove-role{{/if}}" role="{{this}}" user="{{admin_current_id}}">{{this}}</button>
      {{/each}}

      {{log isInRole 'Developer,System Admin'}}
      {{#if isInRole 'Developer,System Admin'}}
        {{#each getOtherRoles admin_current_id}}
          <button class="btn btn-default btn-xs btn-add-role" role="{{this}}" user="{{admin_current_id}}">{{this}}</button>
        {{/each}}
        {{#if getUserRoles admin_current_id}}
          <p style="margin-top:5px;">Click a role to toggle it.</p>
        {{else}}
          <p>User not in any roles. Click a role to add it to a user.</p>
        {{/if}}
      {{else}}
        {{#unless getUserRoles admin_current_id}}
          <p style="margin-top:5px;">User not in any roles.</p>
        {{/unless}}
      {{/if}}

      <!--<hr/>-->

      <!--<h4>Location History</h4>-->
      <!--<p>Track user location for last 24 hours.</p>-->
      <!--<div class="map-container">-->
        <!--{{> googleMap name="locationHistory" options=locationHistoryMapOptions}}-->
      <!--</div>-->
    </div>
  </div>

  <div class="box box-default">
    <div class="box-body">
      <h4>Profile</h4>
      <label class="label {{getHMISStatusLabel status}}">{{status}}</label><br /><br />

      <div class="row">
        <div class="col-md-6 col-md-offset-1">
          <form id="edit-user" class="form-horizontal" role="form">

            {{> userForm}}

            {{#if isInRole 'Developer,System Admin'}}
              <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-8">
                  <input type="submit" class="btn btn-large btn-success" value="Save Profile" />
                </div>
              </div>
            {{/if}}
          </form>
        </div>
      </div>

    </div>
  </div>

  {{#if isLoggedUser}}
    <div class="box box-default">
      <div class="box-body">
        <h4>Change Password</h4>
        <div class="row">
          <div class="col-md-6 col-md-offset-1">
            <form form id="change-password" class="form-horizontal" role="form">
              {{> changePasswordForm}}
            </form>
          </div>
        </div>
      </div>
    </div>
  {{/if}}

  <div class="box box-default">
    <div class="box-body">
      <h4>Linked Projects</h4>

      <div class="row">
        <div class="col-md-6 col-md-offset-1">
          {{#if isInRole 'Developer,System Admin,Admin'}}
            <form id="save-linked-projects" class="form-horizontal" role="form">

              <div class="form-group">
                <div class="col-lg-8">
                  <select class="projectsLinked form-control" multiple="multiple">
                    {{#each getProjects}}
                    <option {{isProjectSelected projectId}} value="{{projectId}}">{{projectName}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-8">
                  <input type="submit" class="btn btn-large btn-success" value="Save" />
                </div>
              </div>

            </form>
          {{else}}
            {{#if projectsLinked}}
              <ul>
                {{#each projectsLinked}}
                  <li>{{getProjectName this}}</li>
                {{/each}}
              </ul>
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>

  {{#if debugAPIMode}}
  <div class="box box-default">
    <div class="box-body">
      <h4>HMIS API Data</h4>

      <pre>{{printHMISData}}</pre>

    </div>
  </div>
  {{/if}}

</template>
