<template name="userForm">
  <div class="form-group">
    <label class="col-lg-4 control-label">First Name:</label>
    <div class="col-lg-8">
      <input class="form-control fName" value={{fName}} type="text" required />
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-4 control-label">Middle Name:</label>
    <div class="col-lg-8">
      <input class="form-control mName" value={{mName}} type="text" required />
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-4 control-label">Last Name:</label>
    <div class="col-lg-8">
      <input class="form-control lName" value={{lName}} type="text" required />
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-4 control-label">Email:</label>
    <div class="col-lg-8">
      <input class="form-control email" value={{email}} type="email" required />
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-4 control-label">Password:</label>
    <div class="col-lg-8">
      <input class="form-control password" value={{password}} type="password" required />
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-4 control-label">Project Group:</label>
    <div class="col-lg-8">
      <select class="projectGroup form-control" required>
        <option>Select Project Group</option>
        {{#each getProjectGroups}}
          <option value="{{projectGroupId}}">{{projectGroupCode}} - {{projectGroupName}}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-4 control-label">Role:</label>
    <div class="col-lg-8">
      <select class="role form-control">
        <option>Select Role</option>
        {{#each getHMISRoles}}
          <option value="{{id}}">{{roleName}}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-4 control-label">Profile:</label>
    <div class="col-lg-8">
      <select class="userProfile form-control">
        <option>Select User Profile</option>
        {{#each getUserProfiles}}
          <option value="{{id}}">{{profileName}}</option>
        {{/each}}
      </select>
    </div>
  </div>
</template>
