<template name="userForm">

  <div class="form-group">
    <div class="col-lg-12 errors"></div>
  </div>

  <div class="form-group">
    <label class="col-lg-4 control-label">First Name:</label>
    <div class="col-lg-8">
      <input class="form-control fName" value={{firstName}} type="text" required {{editFormDisabled}} />
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-4 control-label">Middle Name:</label>
    <div class="col-lg-8">
      <input class="form-control mName" value={{middleName}} type="text" required {{editFormDisabled}} />
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-4 control-label">Last Name:</label>
    <div class="col-lg-8">
      <input class="form-control lName" value={{lastName}} type="text" required {{editFormDisabled}} />
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-4 control-label">Email:</label>
    <div class="col-lg-8">
      {{#if accountId}}
        <input class="form-control email" value={{emailAddress}} type="email" disabled required />
      {{else}}
        <input class="form-control email" value={{emailAddress}} type="email" required />
      {{/if}}
    </div>
  </div>

  {{#unless accountId}}
    <div class="form-group">
      <label class="col-lg-4 control-label">Password:</label>
      <div class="col-lg-8">
        <input class="form-control password" value={{password}} type="password" required />
      </div>
    </div>
  {{/unless}}

  <!--<div class="form-group">-->
    <!--<label class="col-lg-4 control-label">Project Group:</label>-->
    <!--<div class="col-lg-8">-->
      <!--<select class="projectGroup form-control" required>-->
        <!--<option>Select Project Group</option>-->
        <!--{{#each getProjectGroups}}-->
          <!--<option value="{{projectGroupId}}" {{isProjectGroupSelected projectGroupId ../projectGroup.projectGroupId}}>{{projectGroupCode}} - {{projectGroupName}}</option>-->
        <!--{{/each}}-->
      <!--</select>-->
    <!--</div>-->
  <!--</div>-->

  <div class="form-group">
    <label class="col-lg-4 control-label">Role:</label>
    <div class="col-lg-8">
      <select class="role form-control" multiple {{editFormDisabled}}>
        <option>Select Role</option>
        {{#each getHMISRoles}}
          <option value="{{id}}" {{isRoleSelected id ../roles}}>{{roleName}}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-4 control-label">Profile:</label>
    <div class="col-lg-8">
      <select class="userProfile form-control" {{editFormDisabled}}>
        <option>Select User Profile</option>
        {{#each getUserProfiles}}
          <option value="{{id}}" {{isProfileSelected id ../profile.id}}>{{profileName}}</option>
        {{/each}}
      </select>
    </div>
  </div>
</template>
