<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ctagroup.homeapp">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver android:name="org.ctagroup.homeapp.ConnectivityChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".chat.MSGReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service android:name=".chat.MSGService" />

        <activity android:name="org.ctagroup.homeapp.activities.MainLauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.ctagroup.homeapp.activities.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name="org.ctagroup.homeapp.activities.SignatureActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity android:name="org.ctagroup.homeapp.activities.SelectPageActivity"/>
        <activity android:name="org.ctagroup.homeapp.activities.SurveyListActivity" />
        <activity android:name="org.ctagroup.homeapp.activities.SurveyFlowActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="org.ctagroup.homeapp.activities.PitActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="org.ctagroup.homeapp.activities.EncampmentActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="org.ctagroup.homeapp.activities.EncampmentDetailActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="org.ctagroup.homeapp.activities.ChatActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name" />

        <activity
            android:name="org.ctagroup.homeapp.activities.MainChatActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name" />


    </application>

</manifest>
