<template name="AppSidebar">
    <aside class="main-sidebar">

        <ul class="sidebar-menu nav">
            <li class="{{isActiveRoute 'adminDashboard'}}">
                <a href="{{pathFor 'adminDashboard'}}"> <i class="fa fa-dashboard"></i> <span>Dashboard</span> </a>
            </li>
        </ul>
        <ul class="sidebar-menu nav">
            {{#each admin_collections}}
            <li class="{{isActivePath path=viewPath}}">
                <a href="{{viewPath}}"> <i class="fa fa-{{this.icon}}"></i> <span>{{this.label}}</span> </a>
            </li>
            {{/each}}
        </ul>
        <ul class="sidebar-menu nav">
          <li class="{{isActivePath path='roleManager'}}">
            <a href="{{pathFor 'roleManager'}}"> <i class="fa fa-user-secret"></i> <span>Role Manager</span> </a>
          </li>
          <li class="{{isActivePath path='openingScript'}}">
            <a href="{{pathFor 'openingScript'}}"> <i class="fa fa-comment"></i> <span>Opening Script</span> </a>
          </li>
        </ul>

    </aside>
</template>
