<template name="appDashboard">

	<div id="content">
		{{> appNav}}

		<div class="container">
			<div class="text-center">
				<h1>Home Dashboard!</h1>
				<p>
					Quisque id odio. Praesent egestas tristique nibh. In dui magna, posuere eget, vestibulum et, tempor auctor, justo. Cras sagittis. Cras non dolor.

					Donec vitae orci sed dolor rutrum auctor. Phasellus tempus.. Fusce commodo aliquam arcu. Suspendisse eu ligula.
				</p>
				<p>
					Quisque id odio. Praesent egestas tristique nibh. In dui magna, posuere eget, vestibulum et, tempor auctor, justo. Cras sagittis. Cras non dolor.

					Donec vitae orci sed dolor rutrum auctor. Phasellus tempus.. Fusce commodo aliquam arcu. Suspendisse eu ligula.
				</p>
			</div>
		</div>

		{{> footer}}

	</div>

</template>
