<template name="createClient">
    <div id="content">
        {{> appNav}}
	    {{getUniversalElements}}
        <div class="container">
            <h3 class="page-header">Create Profile</h3>
            <div class="row">
                <!-- edit form column -->
                <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                    <h3>Personal info</h3>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">First name:</label>
                            <div class="col-lg-8">
                                <input class="form-control firstName" value="{{getSearchTerm}}" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Middle name:</label>
                            <div class="col-lg-8">
                                <input class="form-control middleName" value=" " type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Last name:</label>
                            <div class="col-lg-8">
                                <input class="form-control lastName" value=" " type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Suffix:</label>
                            <div class="col-lg-8">
                                <input class="form-control suffix" value=" " type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">SSN:</label>
                            <div class="col-lg-8">
                                <input class="form-control ssn" value=" " type="number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Date of Birth:</label>
                            <div class="col-lg-8">
                                <input class="form-control dob" value=" " type="date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label ">Race:</label>
                            <div class="col-lg-8">
                                <!--<input class="form-control race" value=" " type="text">-->
                                <select class="form-control race_category" name="race_category" >
                                    <option value=""></option>
									{{#each getRace}}
                                        <option value={{this}}>{{this}}</option>
									{{/each}}
                                    <option value="American Indian or Alaska Native">American Indian or Alaska Native</option>
                                    <option value="Asian">Asian</option>
                                    <option value="Black or African American">Black or African American</option>
                                    <option value="Native Hawaiian or Other Pacific Islander">Native Hawaiian or Other Pacific Islander</option>
                                    <option value="White">White</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Ethnicity:</label>
                            <div class="col-lg-8">
                                <!--<input class="form-control ethnicity" value=" " type="text">-->
                                <select class="form-control ethnicity_category" name="ethnicity_category" >
                                    <option value=""></option>
									{{#each getEthnicity}}
                                        <option value={{this}}>{{this}}</option>
									{{/each}}
                                    <option value="Non-Hispanic/Non-Latino">Non-Hispanic/Non-Latino</option>
                                    <option value="Hispanic/Latino">Hispanic/Latino</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Gender:</label>
                            <div class="col-lg-8">
                                <!--<input class="form-control gender" value=" " type="text">-->
                                <select class="form-control gender_category" name="gender_category" >
                                    <option value=""></option>
									{{#each getGender}}
                                        <option value={{this}}>{{this}}</option>
									{{/each}}
                                    <option value="Female">Female</option>
                                    <option value="Male">Male</option>
                                    <option value="Transgender male to female">Transgender male to female</option>
                                    <option value="Transgender female to male">Transgender female to male</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Veteran Status:</label>
                            <div class="col-lg-8">
                                <!--<input class="form-control veteran_status" value=" " type="text">-->
                                <select class="form-control veteranStatus_category" name="veteranStatus_category" >
                                    <option value=""></option>
									{{#each getVeteranStatus}}
                                        <option value={{this}}>{{this}}</option>
									{{/each}}
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Disabling Condition:</label>
                            <div class="col-lg-8">
                                <!--<input class="form-control disabling_conditions" value=" " type="text">-->
                                <select class="form-control disablingConditions_category" name="disablingConditions_category" >
                                    <option value=""></option>
									{{#each getDisablingCondition}}
                                        <option value={{this}}>{{this}}</option>
									{{/each}}
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Residence Prior to Project Entry:</label>
                            <div class="col-lg-8">
                                <!--<input class="form-control residence_prior" value=" " type="text">-->
                                <select class="form-control residencePrior_category" name="residencePrior_category" >
                                    <option value=""></option>
									{{#each getResidencePrior}}
                                        <option value={{this}}>{{this}}</option>
									{{/each}}
                                    <option value="Emergency shelter, including hotel or motel paid for with emergency shelter">Emergency shelter, including hotel or motel paid for with emergency shelter </option>
                                    <option value="Foster care home or foster care group home">Foster care home or foster care group home</option>
                                    <option value="Hospital or other residential non-psychiatric medical facility">Hospital or other residential non-psychiatric medical facility</option>
                                    <option value="Hotel or motel paid for without emergency shelter voucher">Hotel or motel paid for without emergency shelter voucher</option>
                                    <option value="Jail, prison or juvenile detention facility">Jail, prison or juvenile detention facility</option>
                                    <option value="Long-term care facility or nursing home">Long-term care facility or nursing home</option>
                                    <option value="Owned by client, no ongoing housing subsidy">Owned by client, no ongoing housing subsidy</option>
                                    <option value="Owned by client, with ongoing housing subsidy">Owned by client, with ongoing housing subsidy</option>
                                    <option value="Permanent housing for formerly homeless persons">Permanent housing for formerly homeless persons</option>
                                    <option value="Place not meant for habitation">Place not meant for habitation</option>
                                    <option value="Psychiatric hospital or other psychiatric facility">Psychiatric hospital or other psychiatric facility</option>
                                    <option value="Rental by client, no ongoing housing subsidy">Rental by client, no ongoing housing subsidy</option>
                                    <option value="Rental by client, with VASH subsidy">Rental by client, with VASH subsidy</option>
                                    <option value="Rental by client, with GPD TIP subsidy">Rental by client, with GPD TIP subsidy</option>
                                    <option value="Rental by client, with other ongoing housing subsidy">Rental by client, with other ongoing housing subsidy</option>
                                    <option value="Residential project or halfway house with no homeless criteria">Residential project or halfway house with no homeless criteria</option>
                                    <option value="Safe Haven">Safe Haven</option>
                                    <option value="Staying or living in a family member’s room, apartment or house">Staying or living in a family member’s room, apartment or house</option>
                                    <option value="Substance abuse treatment facility or detox center">Substance abuse treatment facility or detox center</option>
                                    <option value="Transitional housing for homeless persons (including homeless youth)">Transitional housing for homeless persons (including homeless youth)</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Project Entry Date:</label>
                            <div class="col-lg-8">
                                <input class="form-control entry_date" value=" " type="date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Project Exit Date:</label>
                            <div class="col-lg-8">
                                <input class="form-control exit_date" value=" " type="date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Destination:</label>
                            <div class="col-lg-8">
                                <!--<input class="form-control destination" value=" " type="text">-->
                                <select class="form-control destination_category" name="destination_category" >
                                    <option value=""></option>
									{{#each getDestination}}
                                        <option value={{this}}>{{this}}</option>
									{{/each}}
                                    <option value="Emergency shelter, including hotel or motel paid for with emergency shelter">Emergency shelter, including hotel or motel paid for with emergency shelter </option>
                                    <option value="Foster care home or foster care group home">Foster care home or foster care group home</option>
                                    <option value="Hospital or other residential non-psychiatric medical facility">Hospital or other residential non-psychiatric medical facility</option>
                                    <option value="Hotel or motel paid for without emergency shelter voucher">Hotel or motel paid for without emergency shelter voucher</option>
                                    <option value="Jail, prison or juvenile detention facility">Jail, prison or juvenile detention facility</option>
                                    <option value="Long-term care facility or nursing home">Long-term care facility or nursing home</option>
                                    <option value="Moved from one HOPWA funded project to HOPWA PH">Moved from one HOPWA funded project to HOPWA PH</option>
                                    <option value="Moved from one HOPWA funded project to HOPWA TH">Moved from one HOPWA funded project to HOPWA TH</option>
                                    <option value="Owned by client, no ongoing housing subsidy">Owned by client, no ongoing housing subsidy</option>
                                    <option value="Owned by client, with ongoing housing subsidy">Owned by client, with ongoing housing subsidy</option>
                                    <option value="Permanent housing for formerly homeless persons">Permanent housing for formerly homeless persons</option>
                                    <option value="Place not meant for habitation">Place not meant for habitation</option>
                                    <option value="Psychiatric hospital or other psychiatric facility">Psychiatric hospital or other psychiatric facility</option>
                                    <option value="Rental by client, no ongoing housing subsidy">Rental by client, no ongoing housing subsidy</option>
                                    <option value="Rental by client, with VASH subsidy">Rental by client, with VASH subsidy</option>
                                    <option value="Rental by client, with GPD TIP subsidy">Rental by client, with GPD TIP subsidy</option>
                                    <option value="Rental by client, with other ongoing housing subsidy">Rental by client, with other ongoing housing subsidy</option>
                                    <option value="Residential project or halfway house with no homeless criteria">Residential project or halfway house with no homeless criteria</option>
                                    <option value="Safe Haven">Safe Haven</option>
                                    <option value="Staying or living with family, permanent tenure">Staying or living with family, permanent tenure</option>
                                    <option value="Staying or living with family, temporary tenure">Staying or living with family, temporary tenure</option>
                                    <option value="Staying or living with friends, permanent tenure">Staying or living with friends, permanent tenure</option>
                                    <option value="Staying or living with friends, temporary tenure">Staying or living with friends, temporary tenure</option>
                                    <option value="Staying or living in a family member’s room, apartment or house">Staying or living in a family member’s room, apartment or house</option>
                                    <option value="Substance abuse treatment facility or detox center">Substance abuse treatment facility or detox center</option>
                                    <option value="Transitional housing for homeless persons (including homeless youth)">Transitional housing for homeless persons (including homeless youth)</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Personal ID:</label>
                            <div class="col-lg-8">
                                <input class="form-control personal_id" value=" " type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Housing ID:</label>
                            <div class="col-lg-8">
                                <input class="form-control housing_id" value=" " type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Relationship to Head to Household:</label>
                            <div class="col-lg-8">
                                <!--<input class="form-control relationship" value=" " type="text">-->
                                <select class="form-control relationtoHoH_category" name="relationtoHoH_category" >
                                    <option value=""></option>
									{{#each getRelationshipToHoh}}
                                        <option value={{this}}>{{this}}</option>
									{{/each}}
                                    <option value="Self">Self</option>
                                    <option value="Head of household’s child">Head of household’s child</option>
                                    <option value="Head of household’s spouse or partner">Head of household’s spouse or partner</option>
                                    <option value="Head of household’s other relation member (other relation to head of household)">Head of household’s other relation member (other relation to head of household)</option>
                                    <option value="Other: non-relation member">Other: non-relation member</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Client Location:</label>
                            <div class="col-lg-8">
                                <input class="form-control loc" value=" " type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Time on Streets Emergency Shelter or Safe Haven:</label>
                            <div class="col-lg-8">
                                <!--<input class="form-control shelter" value=" " type="text">-->
                                <select class="form-control timeOnStreets_category" name="timeOnStreets_category" >
                                    <option value=""></option>
									{{#each getTimesHomeless}}
                                        <option value={{this}}>{{this}}</option>
									{{/each}}
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>

                        <!--<div class="form-group">-->
                        <!--<label class="col-lg-3 control-label">Company:</label>-->
                        <!--<div class="col-lg-8">-->
                        <!--<input class="form-control" value="" type="text">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                        <!--<label class="col-lg-3 control-label">Email:</label>-->
                        <!--<div class="col-lg-8">-->
                        <!--<input class="form-control" value="janesemail@gmail.com" type="text">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                        <!--<label class="col-lg-3 control-label">Time Zone:</label>-->
                        <!--<div class="col-lg-8">-->
                        <!--<div class="ui-select">-->
                        <!--<select id="user_time_zone" class="form-control">-->
                        <!--<option value="Hawaii">(GMT-10:00) Hawaii</option>-->
                        <!--<option value="Alaska">(GMT-09:00) Alaska</option>-->
                        <!--<option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>-->
                        <!--<option value="Arizona">(GMT-07:00) Arizona</option>-->
                        <!--<option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>-->
                        <!--<option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>-->
                        <!--<option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>-->
                        <!--<option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>-->
                        <!--</select>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label">Username:</label>-->
                        <!--<div class="col-md-8">-->
                        <!--<input class="form-control" value="janeuser" type="text">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label">Password:</label>-->
                        <!--<div class="col-md-8">-->
                        <!--<input class="form-control" value="11111122333" type="password">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label">Confirm password:</label>-->
                        <!--<div class="col-md-8">-->
                        <!--<input class="form-control" value="11111122333" type="password">-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-8">
                                <input class="btn btn-primary save" value="Save" type="button">
                                <input class="btn btn-default" value="Cancel" type="reset">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

		{{> footer}}

    </div>
</template>
