<template name="clientProfileEdit">
	<div id="clientProfileEdit_content">
		{{> appNav}}
		<div class="container">
			<!--<h3 class="page-header">Edit Profile</h3>-->
			<div class="row">
				<!-- left column -->
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="text-center">
						<img src="http://lorempixel.com/200/200/people/9/" class="avatar img-circle img-thumbnail" alt="avatar">
						<h6>Upload a different photo...</h6>
						<input type="file" class="text-center center-block well well-sm">
					</div>
				</div>
				<!-- edit form column -->
				<div class="col-md-8 col-sm-6 col-xs-12 personal-info">
					<div class="alert alert-info alert-dismissable">
						<a class="panel-close close" data-dismiss="alert">×</a>
						<i class="fa fa-coffee"></i>
						This is an <strong>.alert</strong>. Use this to show important messages to the user.
					</div>
					<h3>Personal info</h3>
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-lg-3 control-label">First name:</label>
							<div class="col-lg-8">
								<input class="form-control firstName" value={{firstName}} type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Middle name:</label>
							<div class="col-lg-8">
								<input class="form-control middleName" value={{middleName}} type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Last name:</label>
							<div class="col-lg-8">
								<input class="form-control lastName" value={{lastName}} type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Suffix:</label>
							<div class="col-lg-8">
								<input class="form-control suffix" value={{suffix}} type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">SSN:</label>
							<div class="col-lg-8">
								<input class="form-control ssn" value={{ssn}} type="number">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Date of Birth:</label>
							<div class="col-lg-8">
								<input class="form-control dob" value={{formatDate dob}} >
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label ">Race:</label>
							<div class="col-lg-8">
								<!--<input class="form-control race" value=" " type="text">-->
								<select class="form-control race_category" name="race_category" id="race_category">
									<option value={{race}}>{{race}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Ethnicity:</label>
							<div class="col-lg-8">
								<select class="form-control ethnicity_category" name="ethnicity_category" value={{ethnicity}} id="ethnicity_category">
									<option value={{ethnicity}}>{{ethnicity}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Gender:</label>
							<div class="col-lg-8">
								<select class="form-control gender_category" name="gender_category" value={{gender}} id="gender_category">
									<option value={{gender}}>{{gender}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Veteran Status:</label>
							<div class="col-lg-8">
								<select class="form-control veteranStatus_category" name="veteranStatus_category" value={{veteran_status}} id="veteranStatus_category">
									<option value={{veteran_status}}>{{veteran_status}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Disabling Condition:</label>
							<div class="col-lg-8">
								<select class="form-control disablingConditions_category" name="disablingConditions_category" value={{disabling_conditions}} id="disablingConditions_category">
									<option value={{disabling_conditions}}>{{disabling_conditions}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Residence Prior to Project Entry:</label>
							<div class="col-lg-8">
								<select class="form-control residencePrior_category" name="residencePrior_category" value={{residence_prior}} id="residencePrior_category" >
									<option value={{residence_prior}}>{{residence_prior}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Project Entry Date:</label>
							<div class="col-lg-8">
								<input class="form-control entry_date" value={{formatDate entry_date}} >
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Project Exit Date:</label>
							<div class="col-lg-8">
								<input class="form-control exit_date" value={{formatDate exit_date}} >
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Destination:</label>
							<div class="col-lg-8">
								<select class="form-control destination_category" name="destination_category" value={{destination}} id="destination_category">
									<option value={{destination}}>{{destination}}</option>

								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Personal ID:</label>
							<div class="col-lg-8">
								<input class="form-control personal_id" value={{personal_id}} type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Housing ID:</label>
							<div class="col-lg-8">
								<input class="form-control housing_id" value={{housing_id}} type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Relationship to Head to Household:</label>
							<div class="col-lg-8">
								<select class="form-control relationtoHoH_category" name="relationtoHoH_category" value={{relationship}} id="relationtoHoH_category">
									<option value={{relationship}}>{{relationship}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Client Location:</label>
							<div class="col-lg-8">
								<input class="form-control loc" value={{location}} type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Time on Streets Emergency Shelter or Safe Haven:</label>
							<div class="col-lg-8">
								<select class="form-control timeOnStreets_category" name="timeOnStreets_category" value={{shelter}} id="timeOnStreets_category">
									<option value={{shelter}}>{{shelter}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label"></label>
							<div class="col-md-8">
								<input class="btn btn-primary update" value="Update" type="button">
								<input class="btn btn-primary delete" value="Delete" type="button">
								<input class="btn btn-default" value="Cancel" type="reset">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div></div>

	{{> footer}}
</template>
