<template name="searchClient">

	<div id="content">
		{{> appNav}}

		<div class="container">

			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12 my-center-block">
					<h1>Client Search</h1>
					<form>
						<div class="form-group">
							<input type="text" id="search-client-keyword"
							       class="form-control typeahead input-lg" data-source="searchClient"
							       data-select="clientSelected" data-highlight="true"
							       autocomplete="off" spellcheck="off"
							       placeholder="Search for clients ..." />
						</div>
					</form>
					<h4>Recent Clients</h4>
					<ul>
						{{#each getRecentClients}}
							<li><a href="{{this.url}}">{{this.name}}</a></li>
						{{/each}}
					</ul>
				</div>
			</div>

		</div>

		{{> footer}}

	</div>
</template>
