<template name="viewClient">
	<div id="viewClient_content">
		{{> appNav}}
		<div class="container">
			<h3 class="page-header">{{firstName}} {{lastName}}</h3>
			<div class="row">
				<!-- edit form column -->
				<div class="col-md-8 col-sm-6 col-xs-12 personal-info">

					{{{alertMessages}}}

					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-lg-3 control-label">First name:</label>
							<div class="col-lg-8">
								<label class="control-label" value={{firstName}}>{{firstName}}</label>
							</div></div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Middle name:</label>
							<div class="col-lg-8">
								<label class="control-label" value={{middleName}}>{{middleName}}</label>
							</div></div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Last name:</label>
							<div class="col-lg-8">
								<label class="control-label" value={{lastName}}>{{lastName}}</label>
							</div> </div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Suffix:</label>
							<div class="col-lg-8">
								<label class="control-label" value={{suffix}}>{{suffix}}</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">SSN:</label>
							<div class="col-lg-8">
								<label class="control-label" value={{ssn}}>{{ssn}}</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Date of Birth:</label>
							<div class="col-lg-8">
								<label class="control-label" value={{dob}}>{{dob}}</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Race:</label>
							<div class="col-lg-8">
								<label class="control-label" value={{race}}>{{race}}</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Ethnicity:</label>
							<div class="col-lg-8">
								<label class="control-label" value={{ethnicity}}>{{ethnicity}} </label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Gender:</label>
							<div class="col-lg-8">
								<label class="control-label" value="{{gender}}">{{gender}} </label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Veteran Status:</label>
							<div class="col-lg-8">
								<label class="control-label" value={{veteranStatus}}>{{veteranStatus}} </label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Disabling Condition:</label>
							<div class="col-lg-8">
								<label class="control-label" value={{disablingConditions}}>{{disablingConditions}} </label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Residence Prior to Project Entry:</label>
							<div class="col-lg-8">
								<label class="control-label" value={{residencePrior}}>{{residencePrior}}</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Project Entry Date:</label>
							<div class="col-lg-8">
								<label class="control-label" value={{entryDate}}>{{entryDate}} </label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Project Exit Date:</label>
							<div class="col-lg-8">
								<label class="control-label" value={{entryDate}}>{{entryDate}} </label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Destination:</label>
							<div class="col-lg-8">
								<label class="control-label" value={{destination}}>{{destination}} </label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Personal ID:</label>
							<div class="col-lg-8">
								<label class="control-label" value={{personalId}}>{{personalId}} </label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Household ID:</label>
							<div class="col-lg-8">
								<label class="control-label" value={{householdId}}>{{householdId}} </label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Relationship to Head to Household:</label>
							<div class="col-lg-8">
								<label class="control-label" value={{relationship}}>{{relationship}} </label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Client Location:</label>
							<div class="col-lg-8">
								<label class="control-label" value={{location}}>{{location}} </label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Time on Streets Emergency Shelter or Safe Haven:</label>
							<div class="col-lg-8">
								<label class="control-label" value={{shelter}}>{{shelter}} </label>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-8">
								<input class="btn btn-default back" value="Back" type="button">
								{{#unless hmis_client_id}}
									<input class="btn btn-success add-to-hmis" value="Add to HMIS" type="button">
								{{/unless}}
								<input class="btn btn-warning edit" value="Edit" type="button">
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

	{{> footer}}

</template>
