<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <ComponentSettings>
    <!-- Replace ComponentId with the application key you got from the Application Insights service. -->
    <ComponentId>4d745371-2b93-4178-866c-90f94fa7730b</ComponentId>
    <!-- "Auto" indicates developer mode when debugger is attached, "On" forces developer mode always, "Off" forces developer mode never. -->
    <DevelopmentMode enable="Auto">
      <!-- The analytics SDKs will use this Component Id when debugging -->
      <ComponentId>4d745371-2b93-4178-866c-90f94fa7730b</ComponentId>
      <PortalURI>https://thuygoodwin.visualstudio.com/</PortalURI>
      <DashboardId>e3ef8b68-1fcb-456d-bfae-1f599d42f07e</DashboardId>
    </DevelopmentMode>
    <AccountId>da3f6ee1-ca63-416f-8452-cde654673f82</AccountId>
    <LicenseKey>1kQ/7iGdltIiUNYf370ZhRSskzXqKl82QtZQQBChc8Yn53HiwoGZgAHuqSmdlXfO1ZKm9fIO0b700n+vo4ZBjQ==</LicenseKey>
    <ComponentName>SurveyPIT</ComponentName>
  </ComponentSettings>
  <ServerAnalytics enabled="true">
    <DataUploadIntervalInMinutes>1</DataUploadIntervalInMinutes>
    <AutoFillClientPropertiesFromRequest>true</AutoFillClientPropertiesFromRequest>
    <CollectClientIPAddress>true</CollectClientIPAddress>
  </ServerAnalytics>
  <MonitoringSettings xmlns="http://schemas.microsoft.com/MicrosoftMonitoringAgent/2013/Apm/CollectionPlan" Version="1.0">
    <GeneralSettings>
      <!--Threshold (in milliseconds) for performance event to be fired-->
      <PerformanceThreshold>5000</PerformanceThreshold>
      <SensitivityThreshold>100</SensitivityThreshold>
      <Namespaces>[All Namespaces]</Namespaces>
      <EntryPoints />
      <Resources />
      <EnableAllExceptions>true</EnableAllExceptions>
      <ExceptionTracking>[All Namespaces]</ExceptionTracking>
      <ExceptionHandlers />
    </GeneralSettings>
    <MemoryEventSettings>
      <Triggers>
        <IISRecycleVirtualBytesPercentage enabled="true">90</IISRecycleVirtualBytesPercentage>
        <IISRecyclePrivateBytesPercentage enabled="true">90</IISRecyclePrivateBytesPercentage>
        <PrivateBytes enabled="true" unit="percent">50</PrivateBytes>
      </Triggers>
      <Snapshots>
        <UploadToAzure>true</UploadToAzure>
        <Baselines>
          <PrivateBytes enabled="true" unit="percent">25</PrivateBytes>
        </Baselines>
      </Snapshots>
    </MemoryEventSettings>
    <LogCollectionSettings>
      <EtwProvider />
      <EtwManifestFile />
    </LogCollectionSettings>
  </MonitoringSettings>
</ApplicationInsights>