<template name="globalHouseholdMembers">
  <div class="col-xs-12">
    <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th>Client ID</th>
        <th>Client Name</th>
        <th>Relationship to Head of Household</th>
        <th>Is Head of Household?</th>
        <th> Delete Member</th>
      </tr>
      </thead>
      <tbody class="globalHouseholdMembers">
      {{#each getGlobalHouseholdMembers}}
        {{> singleGlobalHouseholdMember}}
      {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name="singleGlobalHouseholdMember">
  <tr id={{globalClientId}}>
    <td class="clientID">{{globalClientId}}</td>
    <td class="clientName">{{clientDetails.firstName}} {{clientDetails.middleName}} {{clientDetails.lastName}}</td>
    <td>
      <select class="relationshiptohoh" name="relationshiptohoh">
        <option {{isRelationshipToHOHSelected relationshipToHeadOfHousehold '2'}} value="2">Head of household’s child </option>
        <option {{isRelationshipToHOHSelected relationshipToHeadOfHousehold '3'}} value="3">Head of household’s spouse or partner</option>
        <option {{isRelationshipToHOHSelected relationshipToHeadOfHousehold '4'}} value="4">Head of household’s other relation member (other relation to head of household)</option>
        <option {{isRelationshipToHOHSelected relationshipToHeadOfHousehold '5'}} value="5">Other:  non-relation member</option>
      </select>
    </td>
    <td>
      <input type="radio" class="ihoh" name="ishoh" value="{{globalClientId}}" {{isHOH globalClientId ../headOfHouseholdId}} />
    </td>
    <td>
      <a class="btn btn-danger deleteMember"><i class="fa fa-remove"></i></a>
    </td>
  </tr>
</template>
