<template name="surveyViewTemplate">

    {{>surveyForm}}

    <p>
        <a href="#newSurveyModal" role="button" data-toggle="modal" class="btn btn-primary addSurvey">
            <i class="fa fa-plus"></i> Add one
        </a>
    </p>
    {{#if hasDocuments}}
        {{> tabular table=admin_table class="table dataTable"}}
    {{else}}
        <div class="alert alert-info">
            <p>There are no visible items in this collection.</p>
        </div>
    {{/if}}

</template>

<template name="surveyForm">
    <div id="newSurveyModal" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="showWhenNew">Add Survey</h3>
                    <h3 class="showWhenEdit">Update Survey</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">

                        <label for="survey_title">Survey Title: </label>
                        <input type="text" class="form-control survey_title" name="survey_title" id="survey_title">
                        <input type="text" class="form-control copyof_surveytitle" name="copyof_surveytitle"
                               id="copyof_surveytitle">
                        <br/>
                        <div class="checked">
                            <label class="checkbox-inline">
                                <input type="checkbox" class="active" id="active" value="active">
                                <input type="checkbox" class="copy_active" id="copy_active">Active
                            </label><br/>
                            <label class="checkbox-inline copylabel">
                                <input type="checkbox" class="copy" id="copy" value="copy"> Copy
                            </label><br/>
                        </div>
                        <div class="form-group isCopyTrue">
                            <label for="s_copy">Choose a Survey copy: </label>
                            <select class="s_copy" name="s_copy" id="s_copy">
                                <option value="ChooseSurvey">Choose</option>
                                {{#each surveyList}}
                                    <option value={{_id}}>{{title}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <br/>
                        <label for="s_type">Survey Type: </label>
                        <select class="form-control s_type" name="s_type" id="s_type">
                            <option value="hud">HUD</option>
                            <option value="spdat-t">TAY-VI-SPDAT</option>
                            <option value="spdat-s">VI-SPDAT-Single</option>
                            <option value="spdat-f">VI-SPDAT-Family</option>
                        </select>

                        <div class="checkbox">
                            <label class="checkbox-inline">
                                <input type="checkbox" class="toggle-checked locked" id="locked" value="locked"> Locked
                            </label>
                        </div>
                        <input type="hidden" id="isUpdate" value="0"/>
                        <input type="hidden" id="surveyID" value=""/>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-danger remove showWhenEdit" data-dismiss="modal">Delete</a>
                    <a href="#" class="btn btn-warning update showWhenEdit" data-dismiss="modal">Update</a>
                    <a href="#" class="btn btn-primary save showWhenNew" data-dismiss="modal">Submit</a>
                    <a href="#" class="btn btn-default cancel" data-dismiss="modal">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="surveyEditTemplate">
    <!--This is default template. Might be useful later on.-->
    <!--<div class="box box-default">-->
    <!--<div class="box-body">-->
        <!--{{#if admin_current_doc}}-->
    <!--{{> quickForm id="admin_update" collection=admin_collection doc=admin_current_doc fields=admin_fields omitFields=admin_omit_fields buttonContent='Update'}}-->
        <!--{{/if}}-->
    <!--</div>-->
    <!--</div>-->

    <a href="{{pathFor 'adminDashboardsurveysView'}}" class="btn btn-default">Back</a>

    <div class="page-header">
        <h4>Setup</h4>
    </div>

    <div class="form-group">
        <label for="survey_title1" id="survey_title1" name="survey_title" value={{title}}>
            <b>Survey Title:</b> {{title}}
        </label>
    </div>
    <div class="form-group">
        <div class="col-xs-12 col-sm-6">
            <select class="form-control section" name="section" id="section_val">
                {{#each getSection}}
                    <option value={{_id}}>{{content}}</option>
                {{/each}}
                <option value="sectionSelect" class="sectionSelect">Select a Section</option>
                <option value="Other">Add New Section</option>
            </select>
        </div>
        <div class="col-xs-12 col-sm-6">
            <!--<label for="category">Specify:  </label>-->
            <input type="text" class="form-control hide sectionName" id="sectionName" name="sectionName"
                   placeholder="Section Name" value=""/>
        </div>
        <br/>
        <br/>
        <div class="col-xs-12">
            <label class="checkbox-inline skipLabel">
                <input type="checkbox" class="showskip" id="skip_id" value="skip"><b> Skip </b>
            </label>
        </div>
        <br/>
        <br/>
        <button class="btn btn-large btn-primary addSection">Add Section</button>
    </div>
    <!--<br />-->
    <!--<div class="form-group">-->
        <!--<div class="col-xs-12">-->

            <!--<div class="input-group">-->
                <!--<input type="text" class="form-control  labelName" id="labelName" name="labelName" placeholder="Label" />-->
                <!--<span class="input-group-btn">-->
                    <!--<button class="btn btn-primary addLabel">Add Label</button>-->
                <!--</span>-->
            <!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->
        <!--</div>-->

    <!--</div>-->
    <!--<br />-->
    <!--<br />-->
    <br />
    <div class="form-group addQuesButton">
        <div class="col-xs-12">
            <a href="{{pathFor route='selectSurveyQuestion'}}" class="btn btn-large btn-primary addQues">Add
                Questions</a>
        </div>
    </div>

    <br />
    <br />

    {{> typeDefinition}}

</template>

<template name="typeDefinition">

    <div class="col-xs-12">

        <div class="sortable target question-list" id="object">
            {{#each attributes}}
                {{> sortableSectionItem}}
            {{/each}}
        </div>
    </div>

    <div class="col-xs-12">
        {{#if showPreview}}
            <a href="#" class="btn btn-default fix-survey-order">Fix Order</a>
            <a href="{{pathFor route='previewSurvey'}}"
               class="btn btn-large btn-primary previewSurvey">Preview</a>
        {{/if}}
    </div>

    <br />
    <br />
    <br />
    &nbsp;

</template>

<template name="sortableItemTarget">
    <div data-id="{{order}}" data-db-id="{{_id}}" class="sortable-item well well-sm ">
        <div class="row no-pad">
            <div class="col-xs-9">
                {{#if notQuestion contentType}}
                    <span class="name">{{content}}</span>
                {{else}}
                    <i class="fa fa-exclamation-circle js-tooltip" aria-hidden="true" data-toggle="tooltip" title="{{quesName content}}"></i>
                    <span class="name">{{{quesLabel content}}}</span>
                {{/if}}
            </div>
            <div class="col-xs-3 removable">
                <i class="sortable-handle fa fa-bars pull-right"></i>
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <span class="badge pull-right">{{order}}</span>
            </div>
        </div>
    </div>
</template>

<template name="sortableSectionItem">
    <div data-id="{{order}}" data-db-id="{{_id}}" class="sortable-item well well-sm ">
        <div class="row no-pad">
            <div class="col-xs-9 sectionItem">
                <span class="name ">{{content}}</span>
            </div>
            <div class="col-xs-3 removable">
                <i class="sortable-handle fa fa-bars pull-right"></i>
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <span class="badge pull-right">S {{order}}</span>
            </div>
        </div>
        <br>
        <div id="{{_id}}" class="question-list">
            {{#each sectionQuestions }}
                {{> sortableItemTarget}}
            {{/each}}
        </div>
    </div>
</template>

<template name="previewSurvey">

  {{> responseForm}}

  <button class="btn btn-large btn-primary createSurvey">Create Survey</button>
  <a href="{{editSurveyPath _id}}" class="btn btn-large btn-default">Back</a>

  {{> confirmationModalTemplate}}

</template>

<template name="confirmationModalTemplate">
    <div class="modal fade" id="confirmationModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Are you sure you want to save the survey</h4>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary save_survey" id="save_survey" data-dismiss="modal">
                        Submit
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</template>
