<template name="AdminDashboardNew">
	{{> adminAlert}}
	{{#if adminTemplate admin_collection_name 'new'}}
		{{#with adminTemplate admin_collection_name 'new'}}
		{{> UI.dynamic template=name data=getTemplateData }}
		{{/with}}
	{{else}}
		<div class="box box-default">
			<div class="box-body">
				{{> quickForm id="admin_insert" collection=admin_collection fields=admin_fields omitFields=admin_omit_fields buttonContent='Create'}}
			</div>
		</div>
	{{/if}}
</template>

<template name="AdminDashboardEdit">
	{{> adminAlert}}
	{{#if adminTemplate admin_collection_name 'edit'}}
		{{#with adminTemplate admin_collection_name 'edit'}}
		{{> UI.dynamic template=name data=getTemplateData }}
		{{/with}}
	{{else}}
		<div class="box box-default">
			<div class="box-body">
				{{#if admin_current_doc}}
				{{> quickForm id="admin_update" collection=admin_collection doc=admin_current_doc fields=admin_fields omitFields=admin_omit_fields buttonContent='Update'}}
				{{/if}}
			</div>
		</div>
	{{/if}}
</template>

<template name="AdminDashboardView">
	{{> adminAlert}}
	{{#if adminTemplate admin_collection_name 'view'}}
		{{#with adminTemplate admin_collection_name 'view'}}
		{{> UI.dynamic template=name data=getTemplateData }}
		{{/with}}
	{{else}}
		{{#if hasDocuments}}
			{{> tabular table=admin_table class="table dataTable"}}
		{{else}}
			<div class="alert alert-info">
				<p>There are no visible items in this collection.</p>
				<p><a href="{{newPath}}" class="btn btn-primary"><i class="fa fa-plus"></i> Add one</a></p>
			</div>
		{{/if}}
	{{/if}}
</template>

<!-- <template name="adminAlert">
	{{#if $.Session.get 'adminSuccess'}}
	<div class="alert alert-success admin-alert">
		{{$.Session.get 'adminSuccess'}}
	</div>
	{{/if}}

	{{#if $.Session.get 'adminError'}}
	<div class="alert alert-danger admin-alert">
		{{$.Session.get 'adminError'}}
	</div>
	{{/if}}
</template> -->

<template name="adminUsersMailBtn">
	<a href="mailto:{{adminUserEmail value}}" class="btn btn-default btn-xs"><i class="fa fa-envelope"></i></a>
</template>

<template name="AppEditBtn">
	<a href="{{path}}" class="hidden-xs btn btn-xs btn-primary"><i class="fa fa-pencil"></i></a>
	<a href="{{path}}" class="visible-xs btn btn-sm btn-primary"><i class="fa fa-pencil"></i> Edit</a>
</template>

<template name="AppDeleteBtn">
	<a data-toggle="modal" doc="{{_id}}" href='#app-delete-modal' class="hidden-xs btn btn-xs btn-danger btn-delete"><i class="fa fa-times" doc="{{_id}}"></i></a>
	<a data-toggle="modal" doc="{{_id}}" href='#app-delete-modal' class="visible-xs btn btn-sm btn-danger btn-delete"><i class="fa fa-times" doc="{{_id}}"></i> Delete</a>
</template>
