<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>
<template name="appNav">

	<nav class="navbar navbar-default navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{pathFor 'root'}}">
            {{#if AdminConfig.name}}
                {{AdminConfig.name}}
            {{else}}
                Admin
            {{/if}}
				</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
          <li class="{{isClientsRoute}}"><a href="{{pathFor 'searchClient'}}">Clients</a></li>
          <li class="{{isSurveysRoute}}"><a href="{{pathFor 'surveyStatus'}}">Surveys</a></li>
          <li class="{{isChatRoute}}"><a href="{{pathFor 'chat'}}">Chat</a></li>
        </ul>

				<ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							{{{currentUserGravatar}}} {{currentUserFullName}} <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							{{#if currentUserCan 'view_admin'}}
							<li><a href="{{pathFor 'adminDashboard'}}"><i class="fa fa-user-secret"></i> Admin</a></li>
							{{/if}}
              <li><a href="{{pathFor 'adminDashboardusersEdit' _id=currentUser._id}}"><i class="fa fa-user"></i> My Profile</a></li>
							<li><a class="js-logout" href="#"><i class="fa fa-sign-out"></i> Logout</a></li>
						</ul>
          </li>
          {{else}}
            <li class="{{isActiveRoute 'signIn'}}"><a href="{{pathFor 'signIn'}}">Sign In</a></li>
          {{/if}}
				</ul>
			</div>

		</div>
	</nav>

</template>
