
<template name="chat">

    <div id="content">
        {{> appNav}}

        <head>
            <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.17.2/build/cssreset/cssreset-min.css">
            <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700">
            <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
        </head>
        <body>
            <aside class="sidebar">
                <h5 class="room-label"> Case Managers <i class="ion-person-stalker"></i></h5>
            </aside>
            <section class="main-container">
                <header class="main-header">Intra-Chat Application</header>
                {{> messageList}}
                {{> newMessage}}
                    {{#if currentUser}}
                        {{> messageList}}
                        {{> newMessage}}
                    {{/if}}
            </section>
        </body>

        {{> footer}}

    </div>
</template>


<template name="messageList">
    <div class="message-list">
        {{#each messages}}
            {{> messageItem}}
        {{/each}}
    </div>
</template>

<template name="messageItem">
    <div class="message-item">
        <h6 class="message-sender">{{name}}</h6>
        <p class="message-content">
            {{content}}
        </p>
    </div>
</template>

<template name="newMessage">
    <form class="new-message">
        <textarea name="content" class="new-message-input" placeholder="Start typing a new message..."></textarea>
        <button type="submit" class="new-message-submit">Send</button>
    </form>
</template>
