<template name="home">

	<div id="content">
		{{> appNav}}

		<div class="container">
			<div class="text-center">
				<h2>Welcome to Home!</h2>
				<p>
					Quisque id odio. Praesent egestas tristique nibh. In dui magna, posuere eget, vestibulum et, tempor auctor, justo. Cras sagittis. Cras non dolor.

					Donec vitae orci sed dolor rutrum auctor. Phasellus tempus.. Fusce commodo aliquam arcu. Suspendisse eu ligula.
				</p>
				<p>
					Quisque id odio. Praesent egestas tristique nibh. In dui magna, posuere eget, vestibulum et, tempor auctor, justo. Cras sagittis. Cras non dolor.

					Donec vitae orci sed dolor rutrum auctor. Phasellus tempus.. Fusce commodo aliquam arcu. Suspendisse eu ligula.
				</p>
        <br />
				<div class="row">
            <div class="col-xs-12 col-sm-6 my-center-block">
                <div class="row">
                    <div class="col-xs-6">
            					<a href="{{pathFor 'root'}}"><i class="home-icons fa fa-desktop"></i><br />See Our<br />Live Demo</a>
                    </div>
                    <div class="col-xs-6">
                        <a href="https://github.com/ctagroup/home-app"><i class="home-icons fa fa-github"></i><br />Github Repo<br />Contribute</a>
                    </div>
                </div>
            </div>
				</div>
			</div>
		</div>

		{{> footer}}

	</div>

</template>
