<template name="createClient">
    <div id="content">
        {{> appNav}}
        <div class="container">
            <h3 class="page-header">Create Profile</h3>
            <div class="row">
				<!-- edit form column -->
                <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                    <form class="form-horizontal" role="form">

	                    {{> clientForm}}

                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-8">
                                <input class="btn btn-primary save" value="Save" type="button">
                                <input class="btn btn-default" value="Cancel" type="reset">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

		{{> footer}}

    </div>

    {{> preClientProfileScreen}}

</template>

<template name="preClientProfileScreen">
  <div class="modal fade modal-fullscreen force-fullscreen2" id="dvQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content text-center">
        <div class="modal-header">
          <h1 class="modal-title">Preliminary Survey</h1>
        </div>
        <div class="modal-body">
          <h1 class="text-muted">Test</h1>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>
