<template name="createClient">
    <div id="content">
        {{> appNav}}
        <div class="container">
            <h3 class="page-header">Create Profile</h3>
            <div class="row">
				<!-- edit form column -->
                <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                    <form class="form-horizontal" role="form">

	                    {{> clientForm}}

                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-8">
                                <input class="btn btn-primary save" value="Save" type="button">
                                <input class="btn btn-default" value="Cancel" type="reset">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

		{{> footer}}

    </div>
</template>
