<template name="editClient">
	<div id="editClient_content">
		{{> appNav}}
		<div class="container">
			<h3 class="page-header">{{firstName}} {{lastName}}</h3>
			<div class="row">
				<!-- edit form column -->
				<div class="col-md-8 col-sm-6 col-xs-12 personal-info">
					<form class="form-horizontal" role="form">

						{{> clientForm}}

						<div class="form-group">
							<label class="col-md-3 control-label"></label>
							<div class="col-md-8">
								<input class="btn btn-success update" value="Update" type="button">
								<input class="btn btn-danger delete" value="Delete" type="button">
								<input class="btn btn-default back" value="Cancel" type="button">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div></div>

	{{> footer}}
</template>
