.name-container, .info-container {
  background-color: white;
  padding: 40px 30px;
  word-break: break-word;
  word-wrap: break-word;

  .clabel {
    .text-uppercase();
    .text-muted();
  }

  .cvalue {
    .text-primary();
  }
}

.name-container {
  .cvalue {
    .lead();
  }

  img {
    margin-bottom: 15px;
  }
}

.info-container {
  .cvalue {
    .lead() ;
  }
}

.info-container {
  & > .row {
    &:nth-child(2n) {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: @grid-float-breakpoint-max) {
  .client-profile-container > div {
    margin-top: 30px;
  }
}

@media (min-width: @grid-float-breakpoint) {

  .name-container, .info-container {
    min-height: 450px;
  }
}

.client-photo, .signature-img {
  max-width: 100%;
  max-width: 250px;
  max-height: 250px;
  display: block;
}

#referral-timeline {
  .navigation {

    margin-bottom: 20px;

    a {
      margin: 5px 10px;
    }
  }
}
