.name-container, .info-container {
  background-color: white;
  padding: 40px 30px;
  word-break: break-word;
  word-wrap: break-word;

  .clabel {
    .text-uppercase();
    .text-muted();
  }

  .cvalue {
    .text-primary();
  }
}

.name-container {
  .cvalue {
    .lead();
  }

  img {
    margin-bottom: 15px;
  }
}

.info-container {
  .cvalue {
    .lead() ;
  }
}

.info-container {
  & > .row {
    &:nth-child(2n) {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: @grid-float-breakpoint-max) {
  .client-profile-container > div {
    margin-top: 30px;
  }
}

@media (min-width: @grid-float-breakpoint) {

  .name-container, .info-container {
    min-height: 450px;
  }
}

.client-photo, .signature-img {
  max-width: 100%;
  max-width: 250px;
  max-height: 250px;
  display: block;
}

#referral-timeline {
  .navigation {

    margin-bottom: 20px;

    a {
      margin: 5px 10px;
    }
  }
}

/* Client Profile Styles*/

.client-info{
	background: #fff;
	border-radius: 5px;
	margin:40px 0;
}
.client-info .profile-img {
    width: 100%;
    max-width: 211px;
    border-radius: 5px 0 0px 5px;
}
.client-info .title{
	display: block;
	color: #666666;
	font-size: 12px;
	margin-top: 25px;
}
.client-info h2{
	color: #1b6e97;
	font-size: 24px;
    margin-top: 5px;
    margin-bottom: 25px;
}
.client-info h4{
	color: #1b6e97;
	font-size: 16px;
    margin-top: 5px;
    margin-bottom: 25px;
}
.client-info .title.view-id {
    margin-top: 60px;
}

.regular-container{
	margin-bottom: 0px;
}

.tab-section .nav-tabs.nav-justified>li>a.active {
    background: #fff;
    color: #337ab7;
    font-weight: 700;
}
.tab-section .nav-tabs.nav-justified>li>a {
    border: none;
    background: #337ab7;
    color: #fff;
    font-weight: 500;
    padding: 10px 30px;
}
.tab-section .nav-tabs.nav-justified>li {
    display: block;
    float: left;
    width: auto;
    margin: 0 1px 0 0;
}
.tab-section .tab-pane {
    background: #fff;
    overflow: auto;
    padding: 40px 20px;
    border-radius: 0 5px 5px 5px;
}
.tab-section .tab-pane h1{
	font-size: 28px;
    font-weight: 300;
    margin-top: 3px;
	float: left;
}
.tab-section .tab-pane .filters-area, .tab-section .tab-pane .table-area {
    width: 100%;
    overflow: auto;
}
.tab-pane .filters-area button {
    background: #337ab7;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding:8px 16px;
    margin: 0 20px;
    float: left;
}
.tab-pane .filters-area .entries{
	float: left;
	font-size: 14px;
}
.tab-pane .filters-area .entries-num {
    margin: 10px 0 0 0;
    float: left;

    font-size: 13px;
}
.tab-pane .filters-area .show-select, .tab-pane .filters-area .seach-entry{
	    float: left;
}
.tab-pane .filters-area .table-pagination{
	float: right;

    font-size: 13px;
    margin-left: 30px;
    margin-top: 5px;
}
.tab-pane .filters-area .pagination-list .arrow-pag {
    padding: 5px;
}
.tab-pane .filters-area .pagination-list {
    margin: 5px 0 0 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}
.tab-pane .filters-area .pagination-list .page-num {
    padding: 4px 9px;
    color: #333;
    border-radius: 4px;
    text-decoration: none;
}
.tab-pane .filters-area .pagination-list .page-num.active{
	 background: #337ab7;
    color: #fff;
}
.tab-pane .filters-area .table-pagination span {
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}
.tab-pane .filters-area .table-pagination li{
	float: left;
}
.tab-pane .filters-area .table-pagination .arrow-pag img {
    width: 6px;
}
.tab-pane .filters-area .show-select{
	font-size: 13px;
    margin: 5px 10px;
}
.tab-pane .filters-area .show-select select{
	border: 1px solid #d9d9d9;
    box-shadow: none;
    border-radius: 4px;
    padding:4px 10px 4px 6px;
    width: auto;
    -moz-appearance:none;
   -webkit-appearance: none;
    appearance: none;
    background: url('./img/dropdown-arrow.png') no-repeat right center transparent;
    background-size: 13px;
    cursor: pointer;
}
.tab-pane .filters-area .seach-entry form{
	position: relative;
	margin: 5px 0 0 0;
}
.tab-pane .filters-area .seach-entry input[type="text"]{
	border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 5px;
    font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.tab-pane .filters-area .seach-entry input[type="submit"]{
	position: absolute;
    top: 4px;
    right: 0px;
    border:  0px;
    padding: 0;
    height: 23px;
    text-indent: -99999px;
    width: 23px;
    background: transparent url(./img/search-icon.png) no-repeat center center;
    background-size: 23px auto;
    -moz-background-size: 23px auto;
    -webkit-background-size: 23px auto;
    z-index: 2;
    outline: none;
}
.table-area .order-arrow {
    max-width: 10px;
    width: 100%;
    margin-top: 3px;
}
.table-area .title {
    float: left;
    margin-right: 8px;
    color: #666666;
    font-size: 16px;
    font-weight: 500;
}
.tab-section .tab-pane .table-area {
	margin-top: 30px;
}
.tab-section .tab-pane .table-area table{
	width: 100%;
}
.tab-section .tab-pane .table-area th{
	 background: #e6e6e6;
    padding: 20px;
}
.tab-section .tab-pane .table-area td {
    background: #f2f2f2;
    padding: 20px;
    border-top: 1px solid #fff;
    font-size: 14px;
}
.tab-section .tab-pane .table-area .submitted {
    color: #50aa4a;
    font-weight: 500;
    font-size: 12px;
    background: url(./img/tick-icon.png) no-repeat left center transparent;
    background-size: 15px;
    padding-left: 20px;
}
.tab-section .tab-pane .table-area .upload {
    clear: both;
    display: block;
    margin-top: 5px;
    margin-left: 20px;
    color: #327ab8;
}


/* MEDIA QUERIES */

@media screen and (max-width: 767px){
	.client-info .profile-img{
		margin: auto;
	    float: none;
	    border-radius: 5px;
	    display: block;
	}
	.client-info .text-wrap {
	    padding: 0 20px;
	}
}