.client-profile-container {
  margin-top: 60px;
}

.name-container, .info-container {
  background-color: white;
  min-height: 450px;
  padding: 40px;

  .clabel {
    .text-uppercase();
    .text-muted();
  }

  .cvalue {
    .text-primary();
  }
}

.name-container {
  .cvalue {
    .lead();
  }
}

.info-container {
  .clabel {
    //font-size: 12px;
  }

  .cvalue {
    //font-size: 18px;
  }
}
