.sidebar-menu {
  margin-top: 20px;
  margin-bottom: 20px;
}

.map-container {
  max-width: 100%;
  height: 400px;
}

.admin-alert {
  margin-left: 0px !important;
}

.showWhenEdit, .isCopySet {
  display: none;
}

.home-spinner {
  width: 25px;
  height: 25px;
  display: inline-block;
  float: left;
}

.content-wrapper {
  word-break: break-word;
  word-wrap: break-word;
}


.tooltip-inner {
  white-space: pre;
  max-width: none;
}

.css-tooltip-button-span {
  display: inline-block;
}

.select2-container .select2-search--inline .select2-search__field {
  min-width: 150px;
}
