.container {
  margin-bottom: 200px;

  &.searchClient {
    margin-bottom: 900px;
  }
}

@media (min-width: @grid-float-breakpoint) {
  .container, .container.searchClient {
    margin-bottom: 70px;
  }
}

.notice {
	padding: 15px;
}

.margin-top-35 {
  margin-top: 35px;
}

.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
