<template name="appNav">

	<nav class="navbar navbar-default navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{pathFor 'home'}}">
					<img alt="Home" width="25" height="25" src="/imgs/logo.png">
				</a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="{{isActiveRoute 'clientSearch'}}"><a href="{{pathFor 'clientSearch'}}">Clients</a></li>
					<li class="{{isActiveRoute 'clientProfile'}}"><a href="{{pathFor 'clientProfile'}}">Client Profile</a></li>
				</ul>
				{{#if currentUser}}
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							{{{currentUserGravatar}}} {{currentUserFullName}} <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							{{#if currentUserCan 'view_admin'}}
							<li><a href="{{pathFor 'adminDashboard'}}"><i class="fa fa-user-secret"></i> Admin</a></li>
							<li role="separator" class="divider"></li>
							{{/if}}
							<li><a class="js-logout" href="#"><i class="fa fa-sign-out"></i> Logout</a></li>
						</ul>
					</li>
				</ul>
				{{else}}
				<div class="account-button navbar-right">
					{{> atNavButton}}
				</div>
				{{/if}}
			</div>

		</div>
	</nav>

</template>
