<template name="privacy">

	<div id="content">
		{{> appNav}}

		<div class="container">

			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12 my-center-block">

					<h1>Privacy</h1>

					<p>
						Quisque rutrum. Donec vitae sapien ut libero venenatis faucibus. Sed hendrerit. Nulla consequat massa quis enim. Ut a nisl id ante tempus hendrerit.
					</p>
					<p>
						Fusce vel dui. Praesent nonummy mi in odio. Fusce vulputate eleifend sapien. Integer tincidunt. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo.
					</p>
					<p>
						Nullam tincidunt adipiscing enim. Ut non enim eleifend felis pretium feugiat. Nulla facilisi. In turpis. Fusce fermentum.
					</p>
					<p>
						Curabitur suscipit suscipit tellus. Vivamus in erat ut urna cursus vestibulum. Vestibulum fringilla pede sit amet augue. Suspendisse eu ligula. Vestibulum facilisis, purus nec pulvinar iaculis, ligula mi congue nunc, vitae euismod ligula urna in dolor.
					</p>
					<p>
						Nullam cursus lacinia erat. Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus. Suspendisse nisl elit, rhoncus eget, elementum ac, condimentum eget, diam. Cras sagittis. Etiam ultricies nisi vel augue.
					</p>
				</div>
			</div>

		</div>

		{{> footer}}

	</div>
</template>
