<template name="globalHouseholdCreateView">
    <div class="form-group">
        <div class="form-group addQuesButton">
            <div class="col-xs-12">
                <a href="{{pathFor route='addClients'}}" class="btn btn-large btn-primary addClients">Add
                    Members to Household</a>
            </div>
        </div>
        <div class="col-xs-1 client-search-icon-container">
            <p class="text-primary form-control-static"><i class="fa fa-search"></i></p>
        </div>
    </div>

</template>
